h1 {
    font-family: Roboto Slab Light;
    font-size: 36px;
    color: #282828;
    line-height: 40px;
}

h2 {
    font-family: Roboto Slab;
    font-size: 20px;
    color: #282828;
    line-height: 22px;
}

h3 {
    font-family: Roboto Bold;
    font-size: 18px;
    color: #282828;
    line-height: 20px;
}

.article-preface {
    font-family: Roboto;
    font-size: 19px;
    color: #282828;
    line-height: 24px;
}

p {
    font-family: Roboto;
    font-size: 16px;
    color: #282828;
    line-height: 24px;
}